.cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  transition: transform 0.3s ease-in-out;
}

.slideLeft {
  animation: slideLeft 0.3s ease-in-out forwards;
}

.slideRight {
  animation: slideRight 0.3s ease-in-out forwards;
}

.slideCurrent {
  animation: slideCurrent 0.3s ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  to {
    transform: translateX(-120%) rotate(-5deg);
    opacity: 0;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%) rotate(5deg);
    opacity: 0;
  }
}

@keyframes slideCurrent {
  from {
    transform: translateX(120%) rotate(5deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
