@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    background-color: theme('colors.lightBg');
  }

  .m-50 {
    margin-top:50px;
  }
  .mb-50 {
    margin-bottom:50px;
  }
  .mb-100 {
    margin-bottom:100px;
  }

  .temp-hide {
    display:none
  }